<div>
  <main-milestones [milestones]="careerMilestones"></main-milestones>
  <div class="poppulo">
      <p>Backlog owner of their main project, being responsible for requirement analysis and for leading an Indian development team to
        overcome any technical limitations</p> during a Scrum development life cycle.
      <p>Implemented core code features</p>
      <p>Shared learnings cross department</p>
      <p>Collected and Discussed customer feedback</p>
      <p>Contributed for mobile responsiveness</p>
      <p>Improved Image Editor</p>
      <p>Engaged on a new project to expand the company's customer base, focusing on core product value exposed through an intuitive UI for
        more casual users.</p>
      <p>Net Promoter Score improvements</p>
      <p>As a team player collaborated on product decisions</p>
      <p>Code review</p>
      <p>Department planning</p>
  </div>
  <div class="p-5">
    <p class="text-center title">Welcome to <b>{{ title }}</b> :)</p>
    <p>Bruno Barbosa Marques</p>
    <p>Software Engineer</p>
    <p>linkedin.com/in/bruno-b-marques</p>
    <p>github.com/brunobme</p>
    <p>Blackpool, Cork, Ireland</p>
    <p>+353 83 133 3316</p>
    <p>b2b.marques@gmail.com</p>
    <div class="tech-skills">
      <h2>TECHNICAL SKILLS</h2>

      <p>Work Experience of 5+ years: HTML5, CSS3, jQuery, JS, Bootstrap 4, SEO</p>
      <p>Work Experience of 1+ years: Java, Angular, SQL, PHP, Git, MySQL, Wordpress (code level using hooks, actions and filters)</p>
      <p>Academic Experience (sporadic use from 2014 to 2018 depending on ongoing subjects): Problem solving with Python, C, Java, R,
        SQL</p>
      <p>Ongoing Projects: Hands on VueJS, Python implementation for my own e-commerce Data Analysis</p>
      <p>Starhire365 Brainstorm Hackathon June 8th</p>
      <p>CIT Open Data Hackathon May 18th: Rent Checkers Team – By reviewing a broad range of Central Statistics Office data on the
        rental
        sector in Ireland, the pitched</p> idea would enable a fairer environment for tenants, showing real-time stats to be visualised
      in main rent platforms and avoiding exploitings from the landlords side.


      <p>Kick-start</p>
      <p>Personal Website?</p>
      <p>Fight Covid?</p>
      <p>Angular Studies?</p>
  </div>
    <div class="work-xp">
      <h2>WORK EXPERIENCE</h2>

      <p>With 4 years of experience as a Full-Stack Developer and 1 year as an IT Project Manager, bound to solve people’s problems by
        developing meaningful projects</p> aligned with the business strategy, and currently looking forward to the next challenge as a Software Engineer.

      <p>SOFTWARE ENGINEER - Poppulo (E-Search DAC)</p>
      <p>Jul/2019 - Present - Cork, Ireland</p>
      <p>Backlog owner of their main project, being responsible for requirement analysis and for leading an Indian development team to
        overcome any technical limitations</p> during a Scrum development life cycle.
      <p>Implemented core code features</p>
      <p>Shared learnings cross department</p>
      <p>Collected and Discussed customer feedback</p>
      <p>Contributed for mobile responsiveness</p>
      <p>Improved Image Editor</p>
      <p>Engaged on a new project to expand the company's customer base, focusing on core product value exposed through an intuitive UI for
        more casual users.</p>
      <p>Net Promoter Score improvements</p>
      <p>As a team player collaborated on product decisions</p>
      <p>Code review</p>
      <p>Department planning</p>

      <p>IT PROJECT MANAGEMENT - Janssen Pharma of Johnson & Johnson</p>
      <p>Feb/2018 - Feb/2019 - São Paulo, Brazil</p>
      <p>Backlog owner of their main project, being responsible for requirement analysis and for leading an Indian development team to
        overcome any technical limitations</p> during a Scrum development life cycle.

      <p>FULL-STACK DEVELOPER TEAM LEAD - Publinet 1 Digital Marketing</p>
      <p>Jan/2017 - Jan/2018 - Guarulhos, SP, Brazil</p>
      <p>Increased the company productivity in 100%, by developing website templates according to most common market needs, while managing
        scope and deadlines of 2 other</p> junior developers.
      <p>Led the delivery of complex projects, engineering the Frontend side with semantic and optimised HTML5 code for search engines, CSS3
        with Bootstrap 3 and jQuery</p> library, whereas the Backend side was structured with pure PHP and MySQL servers. Some projects: http://plusnut.com.br/, https://tmf.com.br/, http://bener.com.br.
      <p>Customized a Wordpress child-theme from WooCommerce for virtual catalogs, so as to attend the high demand from industry clients.
        One of the projects:</p> http://markssports.com.br/

      <p>FRONT-END DEVELOPER - Publiwork Digital Marketing</p>
      <p>Feb/2014 - Dec/2016 - São Paulo, Brazil</p>
      <p>Delivered 10+ institutional websites structured with HTML, CSS and pure JavaScript, according to various requirements from each
        client. Moreover, a basic Backend side was always implemented with PHP in order to handle email/newsletter form submissions. One project: http://publiwork.com.br</p>
      <p>Improved websites page ranking, by following solid and semantic HTML aligned with a market analysis based on each client
        segmentation.</p>
    </div>
    <div class="education">
      <h2>EDUCATION</h2>
      <p>Bachelor’s degree in Computer Science - Federal University of ABC</p>
      <p>2014 - 2018</p>
      <p>Emphasis on theoretical computer science</p>
      <p>Java algorithm for solving Rubik’s 3x3 Cube</p>
      <p>Application using AutoSKLearn (machine learning algorithm) for generate clusters in a protein database</p>
    </div>
    <p>LANGUAGES</p>
    <p>English (fluent), Spanish (intermediate), Portuguese (native)</p>
  </div>
</div>
