<ngb-carousel #carousel (slide)="toggleArrows($event)">
  <ng-template ngbSlide *ngFor="let milestone of milestones, let i = index" id="{{i}}">
    <div class="d-flex milestone rounded p-3">
      <div class="image-container text-center col-3">
        <div class="align-self-center">
          <div class="image d-flex m-auto"><img src="{{milestone.imageUrl}}" class="h-75 m-auto align-content-center" alt=""></div>
          <!--<p class="figure-caption">Simple metal shield<br> + Simple metal sword</p>-->
        </div>
      </div>
      <div class="carousel-caption col-9 float-right align-middle">
        <div class="mb-3">
            <h2 class="mat-card-header mb-0" style="font-size:1.5rem;">{{milestone.role}}</h2>
            <span style="font-size:1.2rem;">{{milestone.company}}</span>
        </div>
        <p>
            <fa-icon [icon]="faCalendarAlt"></fa-icon> {{milestone.startDate | customDate }} ~
            <span *ngIf="milestone.endDate === today; else elseBlock">Present</span>
            <ng-template #elseBlock>{{milestone.endDate | customDate}}</ng-template>
            <span class="ml-4"><fa-icon [icon]="faLocationArrow"></fa-icon> {{milestone.location}}</span>
        </p>
        <div class="description">
        </div>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
<div class="m2">
  <button (click)="pauseCarousel()">pause carousel</button>
  <button (click)="cycleCarousel()">cycle carousel</button>
</div>