<app-top-bar></app-top-bar>
<section>
  <div class="content">
    <div class="row">
      <div class="col-md-4 col-sm-3">
        <div>
          <img src="images/cientista-da-computacao-bbm.jpg" alt="Cientista da Computação - Bruno Marques" title="Cientista da Computação - Bruno Marques" class="img-fluid full_width">
        </div>
        <div class="side_menu">
          <ul>
            <li><a href="index.html" id="current"><i class="fa fa-home" aria-hidden="true"></i> <span>Home</span></a></li>
            <li><a href="profile.html"><i class="fa fa-user" aria-hidden="true"></i> <span>Profile</span></a></li>
            <li><a href="disciplinas.html"><i class="fa fa-book" aria-hidden="true"></i> <span>Disciplinas</span></a></li>
            <li><a href="hobby.html"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> <span>Hobbies</span></a></li>
            <li><a href="links.html"><i class="fa fa-link" aria-hidden="true"></i> <span>Links</span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-8 col-sm-9">
        <h1 class="title">Graduando em Ciência da Computação</h1>
        <h2 class="subtitle">Bruno Barbosa Marques</h2>
        <p><i class="fa fa-university" aria-hidden="true"></i> Universidade Federal do ABC</p>
        <hr>
        <div class="container">
          <h3>Sobre</h3>
          <p>Me divirto com áreas inusitadas, coisas criativas, desafios de raciocínio lógico, jogos, com os mares da imaginação. Procuro dar o meu melhor em tudo que faço, buscando surpreender, inovar e ser único em qualquer seção da vida.</p>
        </div>
        <hr>
        <div class="container">
          <h3>About</h3>
          <p>I usually pass the time with exotic things, creative ones, logical reasoning challenges, games, and with the seas of imagination. I try to give my best on everything I do, trying to surprise people, innovate, and be unique in any life's section.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <h3>Graduando em Ciência da Computação</h3>
  <p><i class="fa fa-university" aria-hidden="true"></i> Universidade Federal do ABC</p>
  <p>Bruno Barbosa Marques - {{ age }}</p>
</footer>

