<div class="top-bar">
  <div class="content">
    <ul class="contact pull-right">
      <li>
        <a routerLink="/account" target="_blank">My Account</a>
      </li>
      <li>
        <a href="tel:+353831333316" target="_blank">
          <fa-icon [icon]="faWhatsapp"></fa-icon>
        </a>
      </li>
      <li>
        <a href="https://github.com/manimbbm" target="_blank">
          <fa-icon [icon]="faGithub"></fa-icon>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/bruno-marques-a27a8990/" target="_blank">
          <fa-icon [icon]="faLinkedin"></fa-icon>
        </a>
      </li>
    </ul>
  </div>
</div>
