<div class="content">
  <ul class="contact pull-right">
    <li>
      <a href="https://www.facebook.com/bruno.barbosamarques" target="_blank">
        <fa-icon [icon]="faFacebook"></fa-icon>
      </a>
    </li>
    <li>
      <a href="tel:+353831333316" target="_blank">
        <fa-icon [icon]="faWhatsapp"></fa-icon>
      </a>
    </li>
    <li>
      <a href="https://github.com/brunobme" target="_blank">
        <fa-icon [icon]="faGithub"></fa-icon>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/bruno-marques-a27a8990/" target="_blank">
        <fa-icon [icon]="faLinkedin"></fa-icon>
      </a>
    </li>
  </ul>
</div>
