.content {
  padding:0;

  ul{
    margin:0;
    list-style: none;
  }

  li{
    float: left;

    &:first-child a{
      border-left:1px solid #ddd;
    }
  }

  a {
    display: block;
    padding: 5px 10px;
    border-right:1px solid #ddd;

    &:hover {
      background: #eee;
    }
  }
}
